<% include part/header %>
<form>

    Course:<br>
    <select name="course" id="">
      <option value="course">course 1</option>
    </select><br>

    Student:<br>
    <select name="id_student" id="">
      <option value="id_student">1 - XYZ</option>
    </select><br>

    MCS Key:<br>
    <input type="text" name="mcs_key"><br><br>




    <input type="submit" name="" id="">
</form>
<% include part/footer %>
