<% include part/header %>
<form action="<%= url %>/add_institute" method="post">
    Name:<br>
    <input type="text" name="name"><br>
    Details:<br>
    <input type="text" name="details"><br>
    MCS ID:<br>
    <input type="text" name="msc_id"><br>
    Master ID:<br>
    <input type="text" name="master_id"><br>
    Master Password:<br>
    <input type="text" name="master_password"><br>
    API key 1:<br>
    <input type="text" name="api_key_1"><br>
    API key 2:<br>
    <input type="text" name="api_key_2"><br><br>

    <input type="submit" name="" id="">
</form>
<% include part/footer %>
