<% include part/header %>
<form action="<%= url %>/add_teacher" method="post">
    Name:<br>
    <input type="text" name="name"><br>
    Institute:<br>
    <select name="institute" id="">
      <option value="inst1">inst 1</option>
    </select><br>
    Email ID:<br>
    <input type="text" name="email_id"><br>
    Password:<br>
    <input type="text" name="password"><br><br>
   

    <input type="submit" name="" id="">
</form>
<% include part/footer %>
